@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';
@import '../../vendor/filament/filament/resources/css/theme.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';
@source '../../app/**/*';
@source '../../resources/views/filament/**/*';


@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */


body.fi-body:has(.fi-layout) {
    @apply bg-slate-100 dark:bg-gray-900;
}

.fi-sidebar-nav-tenant-menu-ctn {
    @apply hidden;
}

.fi-layout {
    @apply h-[100dvh] fixed;
}

.fi-sidebar {
    @apply ml-[calc(var(--spacing)*16)] h-[calc(100%-1rem)] my-2;
}

.fi-sidebar-nav {
    @apply bg-white dark:bg-gray-800 rounded-xl ring ring-slate-300 dark:ring-slate-950 ps-4 pe-4 overflow-visible;
}

.fi-main-ctn {
    @apply mx-3 my-2 bg-white dark:bg-gray-800 rounded-xl ring ring-slate-300 dark:ring-slate-950 overflow-y-auto;
}

.fi-breadcrumbs {
    @apply bg-slate-100 dark:bg-gray-900 px-4 py-1 rounded-full ring ring-slate-300 dark:ring-slate-700;
}

.fi-btm-menu-ctn .fi-avatar {
    --spacing: .35rem;
}

.fi-global-search-results-ctn {
    @apply left-0;
}